accelerate
alembic
black
fastapi
google-cloud-texttospeech
httpx
jiwer
pydantic
pydantic-settings
pytest
ruff
scipy
sqlalchemy
torch
transformers
unidecode
uvicorn[standard]
azure-cognitiveservices-speech